@model IEnumerable<Ismile.Models.Secretaire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoDeProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDerniereConnexion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotDePasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeModification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusActuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaireDeBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetourConge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoDeProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDerniereConnexion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotDePasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeModification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusActuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaireDeBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetourConge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
